.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}



/* CONTENT */

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to bottom, #30373B 0%, #272D30 10%, #1D2225 100%) !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
}

.header{
  display: flex;
  flex-direction: column ;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  padding: 0 5px;
}

.header_actions{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}


/* TIMELINE */

.header_timeline{
  width: 100%;
  /* height: 120px; */
  background-color: #fff;
}

.header_timeline_segment{
  display: flex;
  width: 100%;
  height: 10px;
  background-color: #ccc;
}

.header_timeline_thumbnails{  
  width: 100%;
  height: 25px;
  background-color: #747474;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_timeline_thumbnails img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header_timeline_progress{
  width: 100%;
  height: 50px;
  background-color: #41414b;
}


/* BUTTONS */

.header_back-btn,
.header_close-btn {
  height: 50px;
  width: 50px;
  font-size: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .2s ease-in-out;
}

.header_back-btn:hover,
.header_close-btn:hover {
  cursor: pointer;
  background-color: #5e5e5e;
}

.header_back-btn > svg,
.header_close-btn > svg {
  color: #d6d6d6;
  transform: scale(1.4);
}

.content_buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  padding: 0 20px;
}

.content_buttons_group{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content_buttons_group > button {
  min-height: 44px;
  min-width: 44px;
  padding: 0 15px;
  font-size: 16px;
  font-weight: bold;
  background-color: #262c2f;
  border: solid 1px rgba(255, 255, 255, 0.1) !important;
  cursor: pointer;
}

.content_buttons_group > button.inactive {
  color: #696972;

}

.content_buttons_group > button:first-child{
  border-top-left-radius: 22px !important;
  border-bottom-left-radius: 22px !important;
  border-right: none !important;
}

.content_buttons_group > button:last-child{
  border-top-right-radius: 22px !important;
  border-bottom-right-radius: 22px !important;
}

.content_buttons_group_left {
  display: none !important;
}


/* MAIN CONTENT - MAP ANND VIDEO */

.content_main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
  padding: 20px;

}

.content_main_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.content_main_video{
  width: 60%;
  height: 500px;
  background-color: #fff;
}

.content_main_video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content_main_map{
  width: 40%;
  height: 500px;
  background-color: #fff;
}

.content_main_map iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* VIDEO PLAYER */

.video_player{
  width: 450px;
  height: 70px;
  margin: 20px;
  background-color: black;
  border-radius: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.video_divider {
  width: 1px;
  height: 40px;
  background-color: #706f6f;
  margin: 0 10px;
}
.video_controls {
  display: flex;
  align-items: center;
  gap: 3px;
}

.video_btn > svg {
  transform: scale(2);
  color: #706f6f;
  cursor: pointer;
}

.video_play_btn > svg {
  color: white !important;
}

.video_play_btn{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 10px ;
}

.video_play_btn:hover {
  background-color: #4e4e4e;
  border-radius: 50%;
}
.video_time {
  font-size: 24px;
}

.video_speed {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.video_speed_increase,
.video_speed_decrease{
  max-height: 20px;
  color: #706f6f;
}

.video_speed_increase:hover,
.video_speed_decrease:hover {
  cursor: pointer;
}



/* Only for screens larger than 1024px, show the buttons to show Video/Map */
@media screen and (max-width: 1440px) {

  .content_buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }

  .content_buttons_group_left{
    display: flex !important;
  }

  .content_main{
    display: flex;
    flex-direction: column;
  }

  .content_main_map{
    width: 100%;
  }
  .content_main_video{
    width: 100%;
  }
}