main {
  margin-top: 20px;
}
.css-1h6y07d-MuiList-root-RaMenu-root.RaMenu-closed,
.css-znuayl-MuiDrawer-docked-RaSidebar-root .MuiPaper-root {
  width: 0 !important;
}
.css-yubl5z-MuiToolbar-root-RaTopToolbar-root {
  display: none !important;
}

.css-18hcsan-RaFilterForm-root {
  flex-direction: column !important;
  align-items: center !important;
  gap: 20px;
}
