@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  font-family: "Inter", sans-serif !important;
}
main {
  margin-top: 20px;
}
.css-1h6y07d-MuiList-root-RaMenu-root.RaMenu-closed,
.css-znuayl-MuiDrawer-docked-RaSidebar-root .MuiPaper-root {
  width: 0 !important;
}
.css-yubl5z-MuiToolbar-root-RaTopToolbar-root,
.css-1u2fsit-MuiToolbar-root-RaTopToolbar-root {
  display: none !important;
}

.css-18hcsan-RaFilterForm-root {
  flex-direction: column !important;
  align-items: center !important;
  gap: 20px;
}
